* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.drop-down-container {
    display: inline-flex;
    flex-direction: column; /* Align label and dropdown vertically */
    gap: .3rem;
    margin-bottom: 1rem; /* Add space between multiple sections */
  }

#sectionDropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#sectionDropdown:focus {
    border-color: #007bff;
    outline: none;
}
.shape-container {
    border: 2px solid #007bff; /* Border color */
    padding: 1rem; /* Space inside the border */
    margin-bottom: 1rem; /* Add space between the shape container and other elements */
    width: 90%; /* Make sure it fills the available width */
  }

  #svgContainer {
    width: 100%;  /* Makes the container fill its parent container */
    height: 700px; /* Adjust the height as needed */
    border: 1px solid #ccc; /* Optional: For visualization */
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  #canvasContainer {
    width: 100%;        /* Makes the container full width */
    height: auto;      /* Set the height of the container */
    border: 1px solid #ccc; /* Optional, just to visualize the boundary */
    /* padding: 100px; */
  }

  #canvasContainer canvas {
    width: 100% !important;
    height: auto;
  }
  